<nav class="">
  <div class="">
    <div class="">
      <Link class="" to="/">
      Project Oasis
      </Link>
      <button class="" type="button">
        <i class=""></i>
      </button>
    </div>
    <div class="">
      <ul class="">
        <li class="">
          <a class="" href="https://www.creative-tim.com/learning-lab/tailwind/react/overview/notus?ref=nr-auth-navbar">
            <i class="" />{" "}
            Docs
          </a>
        </li>
      </ul>
      <ul class="">
        <li class="">
          <PagesDropdown />
        </li>
        <li class="">
          <a class="" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdemos.creative-tim.com%2Fnotus-react%2F%23%2F" target="_blank">
            <i class="" />
            <span class="">Share</span>
          </a>
        </li>

        <li class="">
          <a class="" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fdemos.creative-tim.com%2Fnotus-react%2F%23%2F&text=Start%20your%20development%20with%20a%20Free%20Tailwind%20CSS%20and%20React%20UI%20Kit%20and%20Admin.%20Let%20Notus%20React%20amaze%20you%20with%20its%20cool%20features%20and%20build%20tools%20and%20get%20your%20project%20to%20a%20whole%20new%20level.%20" target="_blank">
            <i class="" />
            <span class="">Tweet</span>
          </a>
        </li>

        <li class="">
          <a class="" href="https://github.com/creativetimofficial/notus-react?ref=nr-auth-navbar" target="_blank">
            <i class="" />
            <span class="">Star</span>
          </a>
        </li>

        <li class="">
          <button class="" type="button">
            <i class=""></i> Download
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>