<nav class="">
  <a class="" href="/">EJS Is Fun</a>
  <ul class="">
    <li class="">
      <a class="" href="/">Home</a>
    </li>
    <li class="">
      <a class="" href="/about">About</a>
    </li>
  </ul>
</nav>