<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="container">


  <main>
    <div className="relative md:ml-64 bg-blueGray-100">
      <div class="text-center mt-6">
        <a href="/login" class="bg-blueGray-800 text-blue-600 active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150" type="button">
          Logout
        </a>
      </div>
    </div>
  </main>

</body>

</html>
<!-- href="/controllers/loginController" -->