<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="">
  <main>
    <form action="/home" method="get" class="">
      <div class="">
        <label class="" for="trait_type">
          Trait type
        </label>
        <input id="trait_type" name="trait_type" type="text" placeholder="Trait type" class="">
      </div>
      <div class="">
        <label class="" for="value">
          Value
        </label>
        <input id="value" name="value" type="text" placeholder="Value" class="">
      </div>
      <div class="">
        <label class="" for="display_type">
          Display type
        </label>
        <input id="display_type" name="display_type" type="text" placeholder="Display type" class="">
      </div>
      <div class="">
        <button type="submit" class="">
          Add metadata
        </button>
      </div>
    </form>
  </main>

</body>

</html>
<!-- href="/controllers/loginController" -->