<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="">
  <main>
    <form action="/home/add_metadata" method="get" class="">
      <div class="">
        <label class="" for="name">
          Metadata name
        </label>
        <input id="name" name="name" type="text" placeholder="Metadata name" class="">
      </div>
      <div class="">
        <label class="" for="description">
          Metadata description
        </label>
        <input id="description" name="description" type="text" placeholder="Metadata description" class="">
      </div>
      <div class="">
        <label class="" for="token_id">
          Token ID
        </label>
        <input id="token_id" name="token_id" type="text" placeholder="Token ID" class="">
      </div>
      <div class="">
        <label class="" for="image">
          Image
        </label>
        <input id="image" name="image" type="text" placeholder="Image" class="">
      </div>
      <div class="">
        <label class="" for="current_chain">
          Current chain
        </label>
        <input id="current_chain" name="current_chain" type="text" placeholder="Current chain" class="">
      </div>
      <div class="">
        <button type="submit" class="">
          Add metadata
        </button>
      </div>
    </form>
  </main>

</body>

</html>
<!-- href="/controllers/loginController" -->