<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="">


  <main>
    <section class="">
      <div class="" style="background-image: url('assets/img/register_bg_2.png');">
        <div class="">
          <div class="">
            <div class="">
              <div class="">
                <div class="">
                  <div class="">
                    <h6 class="">
                      Sign in with
                    </h6>
                  </div>

                </div>
                <div class="">
                  <%= handleClickLogin() %>
                  <form>
                    <div class="">
                      <label class="" htmlFor="grid-password">
                        Mnemonic
                      </label>
                      <input type="text" value="<%=mnemonic%>" class="" placeholder="Mnemonic" />
                    </div>

                    <div>
                      <label class="">
                        <input id="customCheckLogin" type="checkbox" class="" />
                        <span class="">
                          Remember me
                        </span>
                      </label>
                    </div>

                    <div class="">
                      <a href="/home" class="" type="button">
                        Sign In
                      </a>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

</body>

</html>

<!-- onclick="<%= handleClickLogin()%>" -->