<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head'); %>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="container">


  <main>
    setup collection page
  </main>

</body>

</html>
<!-- href="/controllers/loginController" -->